<%- include('partials/header'); -%>
<%- include('partials/mainLink');  -%> 



<div class="container">
    <div class="wet-panel">
        <div class='wet-title'>
            <h3><%= cityName %> </h3>
        </div>
        <div class="forcast-panel">
            <div class="day-cast">
                <h4><%= dayDate.month %>, <%= dayDate.day %></h4>
                <img class="cast-img" src="http://openweathermap.org/img/wn/<%= todayI %>@2x.png" alt="weather-icon"> 
                <p><%= todayT %> </p>
                <p><%= todayD %> </p>
            </div>
            <div class="day-cast">
                <h4><%= dayDate.month %>, <%= dayDate.day + 1 %> </h4>
                <img class="cast-img" src="http://openweathermap.org/img/wn/<%= tomI %>@2x.png" alt="weather-icon"> 
                <p><%= tomT %> </p>
                <p><%= tomD %> </p>
            </div>
            <div class="day-cast">
                <h4><%= dayDate.month %>, <%= dayDate.day + 2 %> </h4>
                <img class="cast-img" src="http://openweathermap.org/img/wn/<%= next1I %>@2x.png" alt="weather-icon"> 
                <p><%= next1T %> </p>
                <p><%= next1D %> </p>
            </div>
            <div class="day-cast">
                <h4><%= dayDate.month %>, <%= dayDate.day + 3 %> </h4>
                <img class="cast-img" src="http://openweathermap.org/img/wn/<%= next2I %>@2x.png" alt="weather-icon"> 
                <p><%= next2T %> </p>
                <p><%= next2D %> </p>
            </div>
        </div>
    </div>
    <div class="home-message">
        <h2>The Med Portal</h2>
        <p>Welcome to the Med Portal for all your medical needs covered!</p>
    </div>
</div>

<%- include('partials/footer', {Copyright: CR}); %> 