<%- include(root + 'partials/header'); -%>
<%- include(root + 'partials/patLink', {patient: patient}); -%> 

<div class="container">
    <h1 class="title">Welcome <%= patient[0].firstName %> <%= patient[0].lastName %></h1>

</div>



<%- include(root + 'partials/footer', {Copyright: CR}); %> 